@{
    ViewBag.Title = "Acerca de Nosotros";
}
<h2>@ViewBag.Title.</h2>

<p>En <b>Fitofarma</b>, te entregamos calidad y accesibilidad en medicinas naturales, alternativas y muchos productos derivados de la naturaleza.</p>
<br>
<p>La idea de este negocio surgió en el año de 2017, cuando se vio una oportunidad negocio de productos naturales. </p>
<p>Gracias a un contacto, se pudo comenzar con esa oportunidad, donde el local contaba con poca clientela. </p>
<p>
    A medida que el tiempo fue pasando también lo fue el negocio, hasta llegar a convertirse en uno de los lugares favoritos de la zona y hasta incluso el comarcas
    aledañas, donde las personas compran las medicinas alternativas de calidad.
</p>

<p>Esto lo logramos cumpliendo nuestros valores corporativos</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;1.<b> Entregamos Valor: </b>Nuestro equipo está capacitado para identificar y seleccionar productos con la calidad que tú mismo elegirías.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;2.<b> Precio Adecuado: </b>Salud y ahorro es nuestro compromiso, en cada centavo de tu compra. Te damos beneficios de tiempo, calidad y el mejor servicio.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;3.<b> Experiencia de Compra: </b>Cada pedido es atendido de forma personalizada por nuestro equipo; comprometido en conocer tus gusto para llevarlos a tu hogar.</p>

