@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Managua, Nicaragua<br />
    Las lomas, Casa D34<br />
    <p title="Phone">T: &nbsp; 8813-2525, 2222-7878, 8897-6020</p>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:BDII2021NotificacionesFarmacia@outlook.com">BDII2021NotificacionesFarmacia@outlook.com</a><br />
</address>