@{
    ViewBag.Title = "Inicio";
}

<div id="htmlcontent_home">
    <a href="/Home/About" class="item-link" title="nature">
        <img src="https://veigler.com/wp-content/uploads/2020/10/medicina-alternativa.jpg" align="middle" width="100%" height="100%">
    </a>
    <div class="item-html">
        <a href="/Home/About" class="item-link" title="nature"></a>
        <a href="/Home/About" class="btn2">FitoFarma</a>
        <i class="icon-double-angle-right"></i>
    </div>
</div>

<br>
<figure class="text-center">
    <blockquote class="blockquote">
        <p class="mb-0">Los mejores productos naturales</p>

    </blockquote>
    <figcaption class="blockquote-footer">
        Alguien por alli <cite title="Source Title"> de Ortiz</cite>
    </figcaption>
</figure>
<br />

<div>
    <div id="htmlcontent_home">
        <ul class="htmlcontent-home clearfix row">
            <li class="htmlcontent-item-1 col-xs-12"></li>
            <li class="htmlcontent-item-1 col-xs-12">
                @if (Request.IsAuthenticated)
                {
                    <a href="/MEDICAMENTOes" class="item-link" title="nature">
                        <img src="https://assets.cdnelnuevodiario.com/news/dfc313aab43011e5bed50eb04a1bba78.jpg" class="item-img" title="nature" alt="nature" width="100%" height="100%">
                    </a>
                    <div class="item-html">
                        <a href="/MEDICAMENTOes" class="item-link" title="nature"></a>
                        <a href="/MEDICAMENTOes" class="btn">Ver productos</a>
                        <i class="icon-double-angle-right"></i>
                    </div>
                }
                else
                {
                    <a href="/Account/Login" class="item-link" title="nature">
                        <img src="https://assets.cdnelnuevodiario.com/news/dfc313aab43011e5bed50eb04a1bba78.jpg" class="item-img" title="nature" alt="nature" width="100%" height="100%">
                    </a>
                    <div class="item-html">
                        <a href="/Account/Login" class="item-link" title="nature"></a>
                        <a href="/Account/Login" class="btn">Ver productos</a>
                        <i class="icon-double-angle-right"></i>
                    </div>
                }
            </li>
        </ul>
    </div>
</div>